<div class="main-content">
  <div class="section-content section-content-p30">
    <div class="container-fluid">
      <div align="center" class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 p1">
          <h2> !!! SPECIAL OFFER AVAILABLE !!!</h2>
          <br>
          <br>
          <div align="justify">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-1"></div>
          <div class="col-md-4 ms-3">
            <a routerLink="/products/14">
              <img alt="assets/images/products/placeholder.png" height="512"
                   src="assets/images/products/Small%20bag.png"
                   width="512">
            </a>
            <br>
            <br>
            <br>
            <a routerLink="/products/14"><h4>To The Product!</h4></a>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-4 p1">
            <div align="justify">
              <p> Introducing the Mjolnir Messenger Bag, the perfect accessory for anyone looking to add a touch of
                Norse mythology to their daily routine! This bag is not only stylish, but also incredibly functional,
                with ample space for all your essentials, including a padded laptop sleeve to keep your tech safe and
                sound.
              </p><br>
              <p>
                Crafted from premium materials, this messenger bag is built to last, with a sturdy design that can
                withstand even the most rugged adventures. And with its sleek black exterior and intricate Mjolnir
                hammer emblem, it's sure to turn heads wherever you go.
              </p><br>
              <p>
                But that's not all - this bag is accessible for a limited time only, this iconic bag is available at a
                special offer price on our ecommerce front page! Don't miss your chance to add the Mjolnir Messenger
                Bag to your collection and show off your love for Norse mythology in style. Order now and become a
                true warrior of the modern era! </p>
              <br>
            </div>
          </div>
        </div>
        <br>

        <div class="col-md-2"></div>

      </div>
    </div>
  </div>
</div>
