<div class="main-content">
  <div class="section-content section-content-p30">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4 ms-3"></div>
        <img class="col-md-3 ms-lg-5" src="assets/images/odin-logo.png">
      </div>
      <br>
      <div align="center" class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 p1">
          <h2> Contact Us </h2>
          <div align="center">
            <br>
            <p>At Odin Start-Up, we are committed to providing the best possible service to our customers.</p>

            <p>Whether you have a question about our products, need assistance with an order,<br>
              or just want to share your thoughts with us, we're here to help.</p>

              <p>You can reach us through the following channels:<br>
                Email: <i class="fw-bolder">sskibin1@stu.vistula.edu.pl</i></p>

              <p>Thank you for choosing Odin Start-Up. We look forward to hearing from you! </p>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
