.security-btn {
  position:relative;
  right:0;
  min-width: 140px;
  color:#fff;
  border:2px solid #360252;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:43px;
  background: #000;
}

.login-status-header{
  display:-webkit-box;
  display:-webkit-flex;
  display:-moz-box;
  display:-ms-flexbox;
  display:flex
}

.login-status-user-info {
  line-height:43px;
  border:1px;
  padding:0 17px;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px;
  -webkit-transition:all .5s ease;
  -o-transition:all .5s ease;
  -moz-transition:all .5s ease;
  transition:all .5s ease
}
