<div class="login-status-header">
  <div *ngIf="isAuthenticated && userFullName" class="login-status-user-info">
    <div ngbDropdown class="d-inline-block">
        <button type="button" class="security-btn" id="dropdown1" ngbDropdownToggle>{{ userFullName }}</button>
      <div ngbDropdownMenu aria-labelledby="dropdown1">
        <button ngbDropdownItem routerLink="/order-history">Your Orders</button>
        <button ngbDropdownItem routerLink="/members">Members</button>
        <button ngbDropdownItem (click)="logout()">Logout</button>
      </div>
    </div>
  </div>
  <button *ngIf="!isAuthenticated" routerLink="/login" class="security-btn">Login</button>
</div>
