<div class="login-status-header">
  <div *ngIf="isAuthenticated && userFullName" class="login-status-user-info">
    <div class="d-inline-block" ngbDropdown>
      <button class="security-btn" id="dropdown1" ngbDropdownToggle type="button">{{ userFullName }}</button>
      <div aria-labelledby="dropdown1" ngbDropdownMenu>
        <button ngbDropdownItem routerLink="/order-history">Your Orders</button>
        <button ngbDropdownItem routerLink="/members">Members</button>
        <button (click)="logout()" ngbDropdownItem>Logout</button>
      </div>
    </div>
  </div>
  <button *ngIf="!isAuthenticated" class="security-btn" routerLink="/login">Login</button>
</div>
