<div class="main-content">
  <div class="section-content section-content-p30">
    <div class="container-fluid">
      <div class="row">
        <div *ngFor="let product of products" class="col-md-3">
          <div class="product-box">
            <a routerLink="/products/{{ product.id }}">
              <img alt="assets/images/products/placeholder.png" class="img-responsive" src="{{ product.imageUrl }}">
            </a>
            <a routerLink="/products/{{ product.id }}">
              <h1>{{ product.name }}</h1>
            </a>
            <div class="price">{{ product.unitPrice | currency: "USD" }}</div>
            <button (click)="addToCart(product)" class="btn btn-primary btn-sm">Add to cart</button>
          </div>
        </div>

        <div *ngIf="products?.length == 0" class="alert alert-warning col-md-12" role="alert">
          I'm sorry, but there are no products with such name.
          Please try again.
        </div>
      </div>
      <div class="footer-pagination">
        <div class="row">
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-9" style="padding-left: 30%">
                <ngb-pagination (pageChange)="listProducts()"
                                [(page)]="thePageNumber"
                                [boundaryLinks]="true"
                                [collectionSize]="theTotalElements"
                                [maxSize]="5"
                                [pageSize]="thePageSize">
                </ngb-pagination>
              </div>
              <div class="col-md-3 mt-2" style="text-align: right;">
                <span class="mt-2">Page Size </span>
                <select #myPageSelect (change)="updatePageSize(myPageSelect.value)">
                  <option selected="selected">5</option>
                  <option>10</option>
                  <option>20</option>
                  <option>50</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

