<div class="main-content">
  <div class="section-content section-content-p30">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4 ms-3"></div>
        <img class="col-md-3 ms-lg-5" src="assets/images/odin-logo.png">

      </div>
      <br>
      <div align="center" class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 p1">
          <h2> About Us: Óðinns Butikk </h2>
          <div align="justify">
            <br>
            <p> At Óðinns Butikk, we believe in making a positive impact on the world through our products. We are a
              company
              focused on creating eco-friendly bags made from sustainable materials, and we believe that style and
              sustainability
              can go hand in hand. </p>
            <br>
            <p> Our journey began when we noticed the amount of plastic waste in our oceans and the devastating effect
              it
              has on
              the environment. We wanted to make a difference and contribute to a greener future, so we set out to
              create
              a
              range
              of bags made from eco-materials that are not only sustainable but also stylish and functional. </p>
            <br>
            <p> Our eco-material bags are made from recycled plastics, organic cotton, and other sustainable materials
              that
              have a
              low environmental impact. Not only do they reduce waste, but they also look great and are perfect for
              everyday
              use.
              Whether you're going to work, running errands, or traveling, our bags are designed to be functional,
              stylish,
              and
              eco-friendly. </p>
            <br>
            <p>At Óðinns Butikk, we are inspired by the ancient Norse mythology and the god Odin. As avid lovers of
              mythology, we
              believe that the values and ideals embodied in these stories can guide us towards a better future. Just as
              Odin
              represents wisdom and the pursuit of knowledge, we strive to create products that are not only beautiful,
              but
              also
              serve a greater purpose for the planet.</p>
            <br>
            <p>Join us on our mission to create a more sustainable world, one eco-material bag at a time.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
